public-hoist-pattern[] = @jest/globals
public-hoist-pattern[] = jsc-android
public-hoist-pattern[] = *metro*
public-hoist-pattern[] = @babel*
network-concurrency=5
fetch-retries=3
node-linker=isolated
save-exact=true